.displayContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 4px;
  padding-top: 16px;
}

.displayValue {
  font-size: x-large;
  color: black;
}

.displayUnit {
  font-size: medium;
  color: gray;
}
